extends ../src/core/main

block variables
    - var title = 'Отзывы зрителей';
    - var bgi = 'background-image:url(/images/content/bg/gallery.jpg);'

block content
    .page.reviews
        .container
            .reviews__slider
                .reviews__top
                    a(href="#").reviews__arr.reviews__prev
                        <svg width="90" height="63" viewBox="0 0 90 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="31.4517" cy="31.5" r="30" stroke="white" stroke-width="2"/>
                        <g clip-path="url(#clip0_58_3506)">
                        <path d="M31.7018 35.8299L30.7518 31.8399C30.7418 31.7899 30.7418 31.7399 30.7518 31.6799L31.7418 27.9099C31.8118 27.6199 31.4918 27.3899 31.2318 27.5399L28.3018 29.1499C27.2918 29.6999 26.2118 30.1199 25.0818 30.3799L20.7218 31.3999C20.3818 31.4799 20.3618 31.9399 20.7018 32.0399L25.7818 33.5499C26.4318 33.7399 27.0618 33.9999 27.6518 34.3199L31.2018 36.1999C31.4618 36.3399 31.7818 36.1199 31.7118 35.8299H31.7018Z" fill="white"/>
                        <path d="M81.7817 32.66C82.7717 33.55 84.8017 34.7 86.0117 34.7C87.6517 34.7 88.9717 33.43 88.9717 31.87C88.9717 30.31 87.6417 29.04 86.0117 29.04C84.7417 29.04 82.5517 30.11 81.6317 31.08H38.4517V32.66H81.7817Z" fill="white"/>
                        <path d="M36.0419 33.9001C37.2119 33.9001 38.1619 32.9901 38.1619 31.8701C38.1619 30.7501 37.2119 29.8401 36.0419 29.8401C34.8719 29.8401 33.9219 30.7501 33.9219 31.8701C33.9219 32.9901 34.8719 33.9001 36.0419 33.9001Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_58_3506">
                        <rect width="69" height="9" fill="white" transform="translate(20.4517 27.5)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    .reviews__title Отзывы Зрителей
                    a(href="#").reviews__arr.reviews__next
                        <svg width="90" height="63" viewBox="0 0 90 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle r="30" transform="matrix(-1 0 0 1 58.208 31.5)" stroke="white" stroke-width="2"/>
                        <g clip-path="url(#clip0_58_3514)">
                        <path d="M57.9579 35.8299L58.9079 31.8399C58.9179 31.7899 58.9179 31.7399 58.9079 31.6799L57.9179 27.9099C57.8479 27.6199 58.1679 27.3899 58.4279 27.5399L61.3579 29.1499C62.3679 29.6999 63.4479 30.1199 64.5779 30.3799L68.9379 31.3999C69.2779 31.4799 69.2979 31.9399 68.9579 32.0399L63.8779 33.5499C63.2279 33.7399 62.5979 33.9999 62.0079 34.3199L58.4579 36.1999C58.1979 36.3399 57.8779 36.1199 57.9479 35.8299H57.9579Z" fill="white"/>
                        <path d="M7.87801 32.66C6.888 33.55 4.85801 34.7 3.64801 34.7C2.00801 34.7 0.688011 33.43 0.688011 31.87C0.688011 30.31 2.01801 29.04 3.64801 29.04C4.91801 29.04 7.10801 30.11 8.02801 31.08H51.208V32.66H7.87801Z" fill="white"/>
                        <path d="M53.6178 33.9001C52.4478 33.9001 51.4978 32.9901 51.4978 31.8701C51.4978 30.7501 52.4478 29.8401 53.6178 29.8401C54.7878 29.8401 55.7378 30.7501 55.7378 31.8701C55.7378 32.9901 54.7878 33.9001 53.6178 33.9001Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_58_3514">
                        <rect width="69" height="9" fill="white" transform="matrix(-1 0 0 1 69.208 27.5)"/>
                        </clipPath>
                        </defs>
                        </svg>

                .reviews__bottom
                    .reviews__swiper.swiper
                        .swiper-wrapper
                            each i in [1,2,3,4,1,2,3,4,1,2,3,4]
                                a(href="https://www.youtube.com/watch?v=CHCV0seZ7PQ" data-fancybox).swiper-slide.reviews__slide
                                    img(src=`/images/content/reviews/${i}.jpg` alt="Эстрадная панорама ХХ века")
                    .concerts-slider__pag.reviews__pag
            .gallery__menu
                include ../src/components/main-menu/index


