@keyframes letter-15 {
  0%{
    opacity: 0;
    transform: translateY(-340px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFrom {
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  100%{
    transform: translateY(0);
  }
}

@keyframes flash {
  0%{
    inset: 0;
  }
  50%{
    scale: 1;
  }
  100%{
    scale: 0;
  }
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}


