-
    var GLOBALS = {
        tel: {
            href: 'tel:+7(916)495-21-11',
            val: '+7 (916) 495-21-11'
        },
        email:{
            href: 'mailto:kamerkon@gmail.com',
            val: 'kamerkon@gmail.com'
        },
        pages: {
            concerts: {
                name: 'Ближайшие концерты',
                href: '/concerts/'
            },
            gallery: {
                name: 'Галерея мероприятий',
                href: '/gallery/'
            },
            reviews: {
                name: 'Отзывы зрителей',
                href: '/reviews/'
            },
            cooperation: {
                name: 'Сотрудничество',
                href: '/cooperation/'
            }
        }
    };